.summaryLoadingProcessOrder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summaryContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 25px 0px 15px 0px;
}

.summaryLoadingProcessOrder .summaryContainerLite {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 25px 0px 15px 0px;
}

.summaryContainerLite p {
  font-size: 14px !important;
  margin-left: 8px;
}

.summaryContainer p {
  margin-left: 8px;
}

.summaryLoadingProcessOrder .contenedor {
  background-color: var(--primary-color-button);
  border-radius: 12px;
  border: 1px solid var(--primary-color-button);
  height: 40px;
  margin-bottom: 5px;
  position: relative;
  width: 300px;
}

.summaryLoadingProcessOrder .barra {
  -webkit-animation: progressBar 5s linear infinite;
  animation: progressBar 5s linear infinite;
  background: var(--hover-button-color);
  border-radius: 12px;
  height: 100%;
  width: 0;
}

.summaryLoadingProcessOrder .texto {
  align-items: center;
  color: var(--white-color);
  display: flex;
  font-weight: var(--text-regular);
  inset: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
}

@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.loadingOrderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  height: 100%;
}

.loadingOrderContent {
  text-align: center;
  height: auto;
}

.loadingOrderContent p {
  padding: 6px 0;
}

.loadingOrderContent hr {
  border: 0 none;
  height: 2px;
}

.loadingOrderContent .totals {
  padding: 12px 0px;
}

.imageOrderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 130px;
  padding-top: 5px;
}

.imageOrder {
  margin-left: -75px;
}

.imageOrder::before {
  content: '';
  background: url('https://kuikpay.vteximg.com.br/arquivos/ids/155411');
  background-size: 105px 105px;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  position: absolute;
}

.wrapperInfoOrder {
  margin-top: 12px;
  border: 1px solid #e0e2e7;
  border-radius: 6px;
  text-align: left;
  padding: 10px 17px 10px 24px;
}

.wrapperInfoOrder div,
.wrapperInfoOrder .containerInfoOrder {
  display: flex;
}

.wrapperInfoOrder .containerInfoOrder {
  align-items: center;
}

.wrapperInfoOrder p {
  margin-left: 7px;
}
