.carouselContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.carouselContainer .carouselArrowsContent {
  align-items: center;
  background: var(--white-color);
  border-radius: 50px;
  box-shadow: 0px 4px 6px 4px rgb(0 0 0 / 8%);
  display: flex;
  height: 26px;
  justify-content: center;
  position: absolute;
  width: 26px;
}

.carouselContainer .carouselArrowBackContent {
  left: -34px;
}

.carouselContainer .carouselForwardArrowContent {
  right: -34px;
}

.carouselContainer .carouselIconArrowBack {
  margin-bottom: 4px;
}

.carouselContainer .carouselIconForwardArrow {
  margin-top: 4px;
  transform: rotate(180deg);
}

.carouselContainer .carouselIcon {
  height: 24px;
  width: 24px;
}

.carouselContainer .carouselItem {
  display: flex;
  width: 100%;
}
